[Unit]
Description=Zookeeper->SkyDNS
BindTo=zookeeper@%i.service
After=zookeeper@%i.service

[Service]
Type=simple
EnvironmentFile=/etc/environment
# TODO: consider using http://www.unece.org/cefact/locode/service/location.html
#   (instead of AWS's region/datacenter identifiers)
#   thus us-west-2 could instead be us-or-hes (HES == Hermiston, OR)
# as suggested here: http://mnx.io/blog/a-proper-server-naming-scheme/
Environment=REGION=us-west-2
Environment=ZK_CLIENT_PORT=2181
Environment=ZK_PEER_PORT=2888
Environment=ZK_LEADER_PORT=3888

ExecStart=/usr/bin/etcdctl set --ttl 60 /skydns/local/cluster/prod/zookeeper-%i "{\"host\":\"${COREOS_PRIVATE_IPV4}\",\"port\":${ZK_CLIENT_PORT}}"

ExecStart=/usr/bin/etcdctl set --ttl 60 /skydns/local/cluster/${REGION}/prod/_tcp/_zookeeper "{\"host\":\"${COREOS_PRIVATE_IPV4}\",\"port\":${ZK_CLIENT_PORT}}"
ExecStart=/usr/bin/etcdctl set --ttl 60 /skydns/local/cluster/${REGION}/prod/_tcp/_zookeeper-peer "{\"host\":\"${COREOS_PRIVATE_IPV4}\",\"port\":${ZK_PEER_PORT}}"
ExecStart=/usr/bin/etcdctl set --ttl 60 /skydns/local/cluster/${REGION}/prod/_tcp/_zookeeper-leader "{\"host\":\"${COREOS_PRIVATE_IPV4}\",\"port\":${ZK_LEADER_PORT}}"
# ExecStart=/usr/bin/etcdctl set --ttl 60 /skydns/local/cluster/${REGION}/prod/_tcp/_zookeeper-jmx "{\"host\":\"${COREOS_PRIVATE_IPV4}\",\"port\":1689}"
# _zookeeper._tcp.prod.us-west-2.cluster.local 1689
Restart=always
RestartSec=30

[X-Fleet]
X-ConditionMachineOf=zookeeper@%i.service
