[Unit]
Description=zookeeper.presence
BindTo=zookeeper@%i.service
After=zookeeper@%i.service

[Service]
Type=simple
EnvironmentFile=/etc/environment
Environment="ENV=tst"
Environment="ZK_CLIENT_PORT=2181"

ExecStart=/usr/bin/etcdctl set --ttl 60 /skydns/local/cluster/${ENV}/zookeeper-%i "{\"host\":\"${COREOS_PRIVATE_IPV4}\",\"port\":${ZK_CLIENT_PORT}}" && \
          /usr/bin/etcdctl set --ttl 60 /skydns/local/cluster/${ENV}/_tcp/_zookeeper/%i "{\"host\":\"${COREOS_PRIVATE_IPV4}\",\"port\":${ZK_CLIENT_PORT}}"
# zookeeper-1.test.cluster.local 2181
# _zookeeper._tcp.test.cluster.local 2181
Restart=always
RestartSec=30

[X-Fleet]
X-ConditionMachineOf=zookeeper@%i.service
# X-Conflicts=zookeeper.presence@*.service
